.container{
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.icon{
    opacity: 0.6;
    cursor: pointer;
}